body {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 40px); /* 3 columns */
  grid-template-rows: repeat(5, 40px);   /* 5 rows */
  gap: 10px;
  width: max-content;
  margin: 20px auto;
}

.reset {
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffdddd;
  transition: background 0.2s;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
